

/* navbar~ */

.fakeBtn{
    opacity: 0;
}
button,li,a{
    outline:none!important;
    box-shadow:none!important;
}
#fakeNav{
    z-index: -1;
    opacity: 0;
    height: 67px;
}
#realNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #ced4da;
}
#logo{
    color: #FF580F;
    font-size: 27px;
}
#profile{
    color: rgba(255,255,255,.5);
    background-color: transparent;
}


/* ~navbar */


/* guestProfile~ */

.guestProfileImg{
    height: 40px;
    width: 40px;
}

.guestProfileName{
    transform: translate(0px,2px);
}

/* ~guestProfile */


/* dropdown~ */


.dropdown-item:hover{
    background: #FF7E26!important;
    color: #ffffff;
}

.dropdown-menu{
    border-radius: 0;
}

#profileDropdown{
    margin-top: 0px;
}

/* ~dropdown */

/* general~ */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #profileDropdown{
        width: 100vw!important;

    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #profileDropdown{
        width: 50vw!important;
        max-width: 375px!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #profileDropdown{
        width: 50vw!important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

*{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.antiFlow{
    min-height: 635px;
}

.width100p{
    width:100%;
}

.height100p{
    height:100%;
}

.height100vh{
    height:100vh;
}


.minHeight100p{
    min-height:100%;
}

.minHeight100vh{
    min-height:100vh;
}

.onePageHeight{
    height: calc(100vh - 57px);
}

.minOnePageHeight{
    min-height: calc(100vh - 57px);
}

.onePageHeightAndCenterVertically{
    height:calc(100% - 57px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.centerVertically{
    /* height:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}
.bg-orange{
    background-color: #FF7E26!important;
}
.bg-light-orange{
    background-color: #ffc99d!important;
}
.bg-light-grey{
    background-color: #5e5c5c!important;
}
.bg-grey{
    background-color: #525252!important;
}
.bg-derk{
    background-color: #414141!important;
}
.bg-darker{
    background-color: #313131!important;
}
.font-white{
    color: #ffffff!important;
}
.font-grey{
    color: #cccccc!important;
}
.font-orange-bright{
    color: #FF580F!important;
}
.font-orange{
    color: #FF7E26!important;
}
.font-red{
    color: rgb(255, 53, 39)!important;
}
.font-break-all{
    word-break: break-all;
}

.badge-grey{
    color: #cccccc!important;
    border:1px;
    border-style: solid!important;
    border-color: #cccccc!important;
    border-radius: 50rem!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.badge-orange {
    color: #fff;
    background-color: #FF7E26;
}

.text-star-flow{
    transform: translate(-2px,-1px);
}

.hwAuto{
    /* object-fit: contain; */
    object-fit: cover;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

/* ~general */


/* pagination~ */

.page-link{
    color: #cccccc!important;
    border-color: transparent!important;
    background-color: #414141!important;
    border-radius: 0!important;

}
.page-link:hover{
    background-color:  #313131!important;
}
.page-link.active{
    background-color: #FF7E26!important;
    color: #ffffff;

}


/* ~pagination */


/* nav-link~ */

.nav-link.tab{
    color: #cccccc!important;
    border-color: transparent!important;
    background-color: #414141!important;
    border-radius: 0!important;
}
.nav-link.tab:hover{
    background-color:  #313131!important;
}
.nav-link.active.tab{
    background-color: #FF7E26!important;
    color: #ffffff;
}


/* ~nav-link */


/* footer~ */

.footer-link:hover{
    text-decoration: none;
}

/* ~footer*/



/* a~ */
a{
    color: #FF580F;
    word-break: break-all;
}
a:hover{
    color: #FF580F;
}
/* ~a */

/* p~ */
p{
    word-break: break-all;
}
/* ~p */


/* gold btn */
.golden-btn + .golden-btn { margin-top: 1em; }

.golden-btn {
    font-family: serif;
    text-decoration:none;
    font-weight:bold;
    display: inline-block;
    outline: none!important;

    font-size: 1em;
    box-sizing: border-box;
    border: none!important;
    border-radius: .3em;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px rgba(139,66,8,1),
    inset 0 -1px 1px 3px rgba(250,227,133,1)!important;
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07!important;
    color: rgb(120,50,5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
    font-family: serif;
    text-decoration:none;
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
    inset 0 -2px 5px 1px #b17d10,
    inset 0 -1px 1px 3px rgba(250,227,133,1);
    border: 1px solid rgba(165,93,7,.6);
    color: rgba(120,50,5,.8);
}
.golden-btn:active {
    font-family: serif;
    text-decoration:none;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
    inset 0 -2px 5px 1px #b17d10,
    inset 0 -1px 1px 3px rgba(250,227,133,1);
}
/* gold btn *//* If the screen size is 601px wide or more, set the font-size of <div> to 80px */


/* button~ */

#newMissionBtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

button{
    border-radius: 0px!important;
}
.btn:focus,input[type='text'],input[type='email'],input[type='password'],select,.form-control{
    box-shadow:none!important;

}

.btn-grey{
    color: #ffffff;
    background-color: #FF7E26;
    border-color: #FF7E26;
    border-radius: 0;
}

.btn-outline-orange{
    color: #FF7E26!important;
    border-color: #FF7E26!important;
    border-radius: 0!important;
}
.btn-outline-orange:hover {
    color: #FF7E26!important;
    border-color: #FF7E26!important;
}
.btn-outline-orange:active {
    color: #ffffff!important;
    background-color: rgb(218, 79, 20)!important;
    border-color: rgb(218, 79, 20)!important;
}
@media (min-width: 768px) {
    .btn-outline-orange:hover{
        color: #ffffff!important;
        background-color: rgb(218, 79, 20)!important;
        border-color: rgb(218, 79, 20)!important;
    }
}


.btn-orange{
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
    border-radius: 0!important;
}
.btn-orange:hover {
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
}
.btn-orange:active {
    color: #ffffff!important;
    background-color: rgb(218, 79, 20)!important;
    border-color: rgb(218, 79, 20)!important;
}
@media (min-width: 768px) {
    .btn-orange:hover{
        color: #ffffff!important;
        background-color: rgb(218, 79, 20)!important;
        border-color: rgb(218, 79, 20)!important;
    }
}


.btn-outline-white-orange{
    color: #ffffff!important;
    background-color: transparent!important;
    border-color: #ffffff!important;
}
.btn-outline-white-orange:hover{
    color: #ffffff!important;
    background-color: transparent!important;
    border-color: #ffffff!important;
}
.btn-outline-white-orange:active{
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
}
@media (min-width: 768px) {
    .btn-outline-white-orange:hover{
        color: #ffffff!important;
        background-color: #FF7E26!important;
        border-color: #FF7E26!important;
    }
}

/* ~button */


/* radio~ */

input[type="radio"]:checked+label{color:#FF580F;}
input[type='radio']:after {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #000;
}
input[type='radio']:checked:after {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #FF580F;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #000;
}

/* ~radio */


/* checkbox~ */

input[type="checkbox"]:checked+label{color:#FF580F;}
input[type="checkbox"]+label{color:#fff;}
input[type='checkbox']:after {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #cccccc;
    content: '';
    visibility: visible;
    border: 1px solid #414141;

}
input[type='checkbox']:checked:after {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #FF580F;
    content: '';
    visibility: visible;

}
/* ~checkbox */


/* input~ */

input[type='text'],input[type='email'],input[type='password'],select,.form-control{
    border-radius: 0px;
    border-left: 0!important;
    border-top: 0!important;
    border-right: 0!important;

}
textarea:focus, input:focus,select:focus{
    border-color: #FF580F!important;
}
select{
    color:#cccccc!important;
}


/* ~input */


/* placeholder~ */

::placeholder { /* CSS 3 標準 */
    color: #cccccc!important;
}
::-webkit-input-placeholder { /* Chrome, Safari */
    color: #cccccc!important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #cccccc!important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc!important;
}

/* ~placeholder */


/* square div~ */

.div-square {
    position: relative!important;
}

.div-square:after {
    content: ''!important;
    display: block!important;
    padding-top: calc(100%)!important;
}

.div-square-content {
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
}

/* ~square div */


/* mission title~ */

.mission-title{
    height: 48px;
}
.mission-star{
    transform: translate(-15px,3px);
}

/* ~mission title */


/* modal~ */

.modal-content{
    border-radius: 0!important;
}

/* ~modal */




/* star */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '';
}
.rate > input:checked ~ label {
    color: #FF9529;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FF9529;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #FF9529;
}
/* star */

#profileImg{
    height: 168px;
    width: 168px;
}
#profileImgDiv{
    height: 168px;
    width: 168px;
    position: relative;
}
#NotiImgDiv{
    height: 60px;
    width: 60px;
    position: relative;
}
#NotiNavImgDiv{
    height: 40px;
    width: 40px;
    position: relative;
}
#changePhoto{
    position: absolute;
    right:0px;
    bottom: 0px;
    cursor: pointer;
}
#evaluate{
    border-width:1px;
    border-bottom-style:solid;
    border-color:#414141;
}

#toolman-star{
    transform: translate(-6px,-1px);
}
