

/* navbar~ */

.fakeBtn{
    opacity: 0!important;
}
button,li,a{
    outline:none!important;
    box-shadow:none!important;
}
#fakeNav{
    z-index: -1!important;
    opacity: 0!important;
    height: 57px!important;
}
#realNav{
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    z-index: 1!important;
    border-bottom: 1px solid #ced4da!important;
}
#logo{
    color: #FF580F!important;
    font-size: 27px!important;
}
#profile{
    color: rgba(255,255,255,.5)!important;
    background-color: transparent!important;
}


/* ~navbar */


/* guestProfile~ */

.guestProfileImg{
    height: 40px!important;
    width: 40px!important;
}

.guestProfileName{
    transform: translate(0px,2px)!important;
}

/* ~guestProfile */


/* dropdown~ */


.dropdown-item:hover{
    background: #FF7E26!important;
    color: #ffffff!important;
}

.dropdown-menu{
    border-radius: 0!important;
}

#profileDropdown{
    margin-top: 0px!important;
}

/* ~dropdown */

/* general~ */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #profileDropdown{
        width: 100vw!important;

    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #profileDropdown{
        width: 50vw!important;
        max-width: 375px!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #profileDropdown{
        width: 50vw!important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

*{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif!important;
}

.antiFlow{
    min-height: 635px!important;
}

.width100p{
    width:100%!important;
}

.height100p{
    height:100%!important;
}

.height100vh{
    height:100vh!important;
}


.minHeight100p{
    min-height:100%!important;
}

.minHeight100vh{
    min-height:100vh!important;
}

.onePageHeight{
    height: calc(100vh - 57px)!important;
}

.minOnePageHeight{
    min-height: calc(100vh - 57px)!important;
}

.onePageHeightAndCenterVertically{
    height:calc(100% - 57px)!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
}

.centerVertically{
    /* height:100%!important; */
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
}

.textCenter{
    text-align: center!important;
}
.textLeft{
    text-align: left!important;
}
.textRight{
    text-align: right!important;
}
.bg-orange{
    background-color: #FF7E26!important;
}
.bg-light-orange{
    background-color: #ffc99d!important;
}
.bg-light-grey{
    background-color: #5e5c5c!important;
}
.bg-grey{
    background-color: #525252!important;
}
.bg-dark{
    background-color: #414141!important;
}
.bg-darker{
    background-color: #313131!important;
}
.font-white{
    color: #ffffff!important;
}
.font-grey{
    color: #cccccc!important;
}
.font-orange-bright{
    color: #FF580F!important;
}
.font-orange{
    color: #FF7E26!important;
}
.font-red{
    color: rgb(255, 53, 39)!important;
}
.font-break-all{
    word-break: break-all!important;
}

.badge-grey{
    color: #cccccc!important;
    border:1px!important;
    border-style: solid!important;
    border-color: #cccccc!important;
    border-radius: 50rem!important;
    display: inline-block!important;
    font-weight: 400!important;
    text-align: center!important;
    vertical-align: middle!important;
    padding: .375rem .75rem!important;
    font-size: 1rem!important;
    line-height: 1.5!important;
}

.badge-orange {
    color: #fff!important;
    background-color: #FF7E26!important;
}

.text-star-flow{
    transform: translate(-2px,-1px)!important;
}

.hwAuto{
    /* object-fit: contain!important; */
    object-fit: cover!important;
}

.ellipsis {
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
    white-space: normal!important;
    overflow: hidden!important;
}

/* ~general */


/* pagination~ */

.page-link{
    color: #cccccc!important;
    border-color: transparent!important;
    background-color: #414141!important;
    border-radius: 0!important;

}
.page-link:hover{
    background-color:  #313131!important;
}
.page-link.active{
    background-color: #FF7E26!important;
    color: #ffffff!important;

}


/* ~pagination */


/* nav-link~ */

.nav-link.tab{
    color: #cccccc!important;
    border-color: transparent!important;
    background-color: #414141!important;
    border-radius: 0!important;
}
.nav-link.tab:hover{
    background-color:  #313131!important;
}
.nav-link.active.tab{
    background-color: #FF7E26!important;
    color: #ffffff!important;
}


/* ~nav-link */


/* footer~ */

.footer-link:hover{
    text-decoration: none!important;
}

/* ~footer*/



/* a~ */
a{
    color: #FF580F!important;
    word-break: break-all!important;
}
a:hover{
    color: #FF580F!important;
}
/* ~a */

/* p~ */
p{
    word-break: break-all!important;
}
/* ~p */


/* button~ */

#newMissionBtn{
    position: fixed!important;
    bottom: 10px!important;
    right: 10px!important;
}

button{
    border-radius: 0px!important;
}
.btn:focus,input[type='text'],input[type='email'],input[type='password'],select,.form-control{
    box-shadow:none!important;

}

.btn-grey{
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
    border-radius: 0!important;
}

.btn-outline-orange{
    color: #FF7E26!important;
    border-color: #FF7E26!important;
    border-radius: 0!important;
}
.btn-outline-orange:hover {
    color: #FF7E26!important;
    border-color: #FF7E26!important;
}
.btn-outline-orange:active {
    color: #ffffff!important;
    background-color: rgb(218, 79, 20)!important;
    border-color: rgb(218, 79, 20)!important;
}
@media (min-width: 768px) {
    .btn-outline-orange:hover{
        color: #ffffff!important;
        background-color: rgb(218, 79, 20)!important;
        border-color: rgb(218, 79, 20)!important;
    }
}


.btn-orange{
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
    border-radius: 0!important;
}
.btn-orange:hover {
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
}
.btn-orange:active {
    color: #ffffff!important;
    background-color: rgb(218, 79, 20)!important;
    border-color: rgb(218, 79, 20)!important;
}
@media (min-width: 768px) {
    .btn-orange:hover{
        color: #ffffff!important;
        background-color: rgb(218, 79, 20)!important;
        border-color: rgb(218, 79, 20)!important;
    }
}


.btn-outline-white-orange{
    color: #ffffff!important;
    background-color: transparent!important;
    border-color: #ffffff!important;
}
.btn-outline-white-orange:hover{
    color: #ffffff!important;
    background-color: transparent!important;
    border-color: #ffffff!important;
}
.btn-outline-white-orange:active{
    color: #ffffff!important;
    background-color: #FF7E26!important;
    border-color: #FF7E26!important;
}
@media (min-width: 768px) {
    .btn-outline-white-orange:hover{
        color: #ffffff!important;
        background-color: #FF7E26!important;
        border-color: #FF7E26!important;
    }
}

/* ~button */


/* radio~ */

input[type="radio"]:checked+label{color:#FF580F!important;}
input[type='radio']:after {
    width: 100%!important;
    height: 100%!important;
    border-radius: 100%!important;
    height:100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
    position: relative!important;
    background-color: #fff!important;
    content: ''!important;
    display: inline-block!important;
    visibility: visible!important;
    border: 1px solid #000!important;
}
input[type='radio']:checked:after {
    width: 100%!important;
    height: 100%!important;
    border-radius: 100%!important;
    height:100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
    position: relative!important;
    background-color: #FF580F!important;
    content: ''!important;
    display: inline-block!important;
    visibility: visible!important;
    border: 1px solid #000!important;
}

/* ~radio */


/* checkbox~ */

input[type="checkbox"]:checked+label{color:#FF580F!important;}
input[type="checkbox"]+label{color:#fff!important;}
input[type='checkbox']:after {
    width: 100%!important;
    height: 100%!important;
    border-radius: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
    position: relative!important;
    background-color: #cccccc!important;
    content: ''!important;
    visibility: visible!important;
    border: 1px solid #414141!important;

}
input[type='checkbox']:checked:after {
    width: 100%!important;
    height: 100%!important;
    border-radius: 0px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
    position: relative!important;
    background-color: #FF580F!important;
    content: ''!important;
    visibility: visible!important;

}
/* ~checkbox */


/* input~ */

input[type='text'],input[type='email'],input[type='password'],select,.form-control{
    border-radius: 0px!important;
    border-left: 0!important;
    border-top: 0!important;
    border-right: 0!important;

}
textarea:focus, input:focus,select:focus{
    border-color: #FF580F!important;
}
select{
    color:#cccccc!important;
}


/* ~input */


/* placeholder~ */

::placeholder { /* CSS 3 標準 */
    color: #cccccc!important;
}
::-webkit-input-placeholder { /* Chrome, Safari */
    color: #cccccc!important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #cccccc!important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc!important;
}

/* ~placeholder */


/* square div~ */

.div-square {
    position: relative!important;
}

.div-square:after {
    content: ''!important;
    display: block!important;
    padding-top: calc(100%)!important;
}

.div-square-content {
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
}

/* ~square div */


/* mission title~ */

.mission-title{
    height: 48px!important;
}
.mission-star{
    transform: translate(-15px,3px)!important;
}

/* ~mission title */


/* modal~ */

.modal-content{
    border-radius: 0!important;
}

/* ~modal */




/* star */
.rate {
    float: left!important;
    height: 46px!important;
    padding: 0 10px!important;
}
.rate:not(:checked) > input {
    position:absolute!important;
    top:-9999px!important;
}
.rate:not(:checked) > label {
    float:right!important;
    overflow:hidden!important;
    white-space:nowrap!important;
    cursor:pointer!important;
    font-size:30px!important;
    color:#ccc!important;
}
.rate:not(:checked) > label:before {
    content: ''!important;
}
.rate > input:checked ~ label {
    color: #FF9529!important;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FF9529!important;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #FF9529!important;
}
/* star */

